In [1]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('Result_final4_2.csv', sep = ",")

In [11]:
df.head()

,Unnamed: 0,MandatId,DateCreation,BienMandatId,Statut,DescriptionBien_DateOffreAcceptee,Origine_DateCollecte,CritereId,SurfaceMin,NombrePiecesEnum,...,LocalisationId,StatutMandat,TypeMission,TypeBien,TypeProjet,BudgetMaxEuro,CodePostal,Ville,Departement,Region
0,0,9049,2015-03-30,24579,1,0001-01-01,0001-01-01,9051,30,2,...,129,9,2,2,0,250000,1000,Bourg En Bresse,Ain,Rhône-Alpes
1,1,9049,2015-03-30,24580,0,0001-01-01,0001-01-01,9051,30,2,...,129,9,2,2,0,250000,1000,Bourg En Bresse,Ain,Rhône-Alpes
2,2,9049,2015-03-30,24582,1,0001-01-01,0001-01-01,9051,30,2,...,129,9,2,2,0,250000,1000,Bourg En Bresse,Ain,Rhône-Alpes
3,3,9049,2015-03-30,24583,0,0001-01-01,0001-01-01,9051,30,2,...,129,9,2,2,0,250000,1000,Bourg En Bresse,Ain,Rhône-Alpes
4,4,9049,2015-03-30,24584,7,0001-01-01,0001-01-01,9051,30,2,...,129,9,2,2,0,250000,1000,Bourg En Bresse,Ain,Rhône-Alpes

In [12]:
df = df.drop("Unnamed: 0", axis = 1)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1978037 entries, 0 to 1978036
Data columns (total 22 columns):
 #   Column                             Dtype
---  ------                             -----
 0   MandatId                           int64
 1   DateCreation                       object
 2   BienMandatId                       int64
 3   Statut                             int64
 4   DescriptionBien_DateOffreAcceptee  object
 5   Origine_DateCollecte               object
 6   CritereId                          int64
 7   SurfaceMin                         int64
 8   NombrePiecesEnum                   int64
 9   NombreChambresEnum                 int64
 10  Departement_LocalisationId         int64
 11  Region_LocalisationId              int64
 12  LocalisationId                     int64
 13  StatutMandat                       int64
 14  TypeMission                        int64
 15  TypeBien                           int64
 16  TypeProjet                         int64
 17  BudgetMaxEuro                      int64
 18  CodePostal                         int64
 19  Ville                              object
 20  Departement                        object
 21  Region                             object
dtypes: int64(16), object(6)
memory usage: 332.0+ MB
None

In [17]:
df.isnull().sum()

MandatId                             0
DateCreation                         0
BienMandatId                         0
Statut                               0
DescriptionBien_DateOffreAcceptee    0
Origine_DateCollecte                 0
CritereId                            0
SurfaceMin                           0
NombrePiecesEnum                     0
NombreChambresEnum                   0
Departement_LocalisationId           0
Region_LocalisationId                0
LocalisationId                       0
StatutMandat                         0
TypeMission                          0
TypeBien                             0
TypeProjet                           0
BudgetMaxEuro                        0
CodePostal                           0
Ville                                0
Departement                          0
Region                               0
dtype: int64

In [13]:
def NaN_percent(df, column_name):
    row_count = df[column_name].shape[0]
    empty_values = row_count - df[column_name].count()
    return (100.0*empty_values)/row_count
for i in list(df):
    print(i +': ' + str(NaN_percent(df,i))+'%')

MandatId: 0.0%
DateCreation: 0.0%
BienMandatId: 0.0%
Statut: 0.0%
DescriptionBien_DateOffreAcceptee: 0.0%
Origine_DateCollecte: 0.0%
CritereId: 0.0%
SurfaceMin: 0.0%
NombrePiecesEnum: 0.0%
NombreChambresEnum: 0.0%
Departement_LocalisationId: 0.0%
Region_LocalisationId: 0.0%
LocalisationId: 0.0%
StatutMandat: 0.0%
TypeMission: 0.0%
TypeBien: 0.0%
TypeProjet: 0.0%
BudgetMaxEuro: 0.0%
CodePostal: 0.0%
Ville: 0.0%
Departement: 0.0%
Region: 0.0%

In [18]:
df.StatutMandat.value_counts()

9     1091942
8      609252
6      142125
5       87579
7       42063
12       3889
1        1187
Name: StatutMandat, dtype: int64

In [22]:
valeurs = [1, 5, 6, 12]

df = df[df.StatutMandat.isin(valeurs) ==  False ]

df["StatutMandat"].value_counts()

9    1091942
8     609252
7      42063
Name: StatutMandat, dtype: int64

In [23]:
conditionlist = [
    (df['StatutMandat'] == 9),
    (df['StatutMandat'] == 7),
    (df['StatutMandat'] == 8)]

choicelist = ['0','1','1']
df['Succes'] = np.select(conditionlist, choicelist, default='Not Specified')
print(df["Succes"].value_counts())

0    1091942
1     651315
Name: Succes, dtype: int64

C:\Users\LOUDOU~1\AppData\Local\Temp/ipykernel_9652/916217199.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Succes'] = np.select(conditionlist, choicelist, default='Not Specified')

In [24]:
df.TypeProjet.value_counts()

1    1320890
0     323967
2      98400
Name: TypeProjet, dtype: int64

In [27]:
df.TypeProjet.isnull().sum()

0

In [21]:
df.TypeBien.value_counts()

2    1053783
1     609182
7     202910
5      38977
3      31332
8      26271
6       7635
4       5568
0       2379
Name: TypeBien, dtype: int64