In [ ]:
# import pandas as pd
import numpy as np
import joblib
import pickle

In [ ]:
#!pip install joblib

# Transformation d'un dict en df

In [2]:
dict_test = {
    "SurfaceMin":100,
    "NombrePiecesEnum" : 5,
    "NombreChambresEnum" : 2,
    "TypeMission" : 1,
    "TypeBien" : 1,
    "TypeProjet" : 1,
    "BudgetMaxEuro" : 500000,
    "CodePostal" : 34000    
}
print(dict_test)

{'SurfaceMin': 100, 'NombrePiecesEnum': 5, 'NombreChambresEnum': 2, 'TypeMission': 1, 'TypeBien': 1, 'TypeProjet': 1, 'BudgetMaxEuro': 500000, 'CodePostal': 34000}

In [3]:
df = pd.DataFrame([dict_test])

In [4]:
df

,SurfaceMin,NombrePiecesEnum,NombreChambresEnum,TypeMission,TypeBien,TypeProjet,BudgetMaxEuro,CodePostal
0,100,5,2,1,1,1,500000,34000

# Transformation de plusieurs dict en df

In [55]:
data = '''
          {
              "0":{
                  "SurfaceMin": "200",
                  "NombrePiecesEnum": "5"
              },
              "1":{
                  "SurfaceMin": "100",
                  "NombrePiecesEnum": "4"
              },
              "2":{
                  "SurfaceMin": "70",
                  "NombrePiecesEnum":"3"
              }
          }          
          
          '''
df = pd.read_json(data, orient ='index')
df.head()

   SurfaceMin  NombrePiecesEnum
0         200                 5
1         100                 4
2          70                 3

In [50]:
test = pd.DataFrame.from_dict(mandat1)
test

RangeIndex(start=0, stop=1, step=1)

In [14]:
df2 = pd.DataFrame([big_dict])

In [15]:
df2

,dict_test0,dict_test1
0,"{'SurfaceMin': 100, 'NombrePiecesEnum': 5, 'No...","{'SurfaceMin': 100, 'NombrePiecesEnum': 5, 'No..."

In [62]:
data_dict = {
    "SurfaceMin":100,
    "NombrePiecesEnum" : 5,
    "NombreChambresEnum" : 2,
    "TypeMission" : 0,
    "TypeBien" : 1,
    "TypeProjet" : 1,
    "BudgetMaxEuro" : 500000,
    "CodePostal" : 34000    
}
print(data_dict)

{'SurfaceMin': 100, 'NombrePiecesEnum': 5, 'NombreChambresEnum': 2, 'TypeMission': 0, 'TypeBien': 1, 'TypeProjet': 1, 'BudgetMaxEuro': 500000, 'CodePostal': 34000}

In [63]:
model = pickle.load(open("LGBMClassifier.pkl"))
print(model)

UnicodeDecodeError: 'charmap' codec can't decode byte 0x81 in position 44: character maps to <undefined>

In [64]:
model = joblib.load("LGBMClassifier.pkl")
print(model)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('lgbmclassifier', LGBMClassifier(silent='warn'))])

C:\anaconda3\lib\site-packages\sklearn\base.py:329: UserWarning: Trying to unpickle estimator StandardScaler from version 1.0.2 when using version 0.23.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
C:\anaconda3\lib\site-packages\sklearn\base.py:329: UserWarning: Trying to unpickle estimator LabelEncoder from version 1.0.2 when using version 0.23.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
C:\anaconda3\lib\site-packages\sklearn\base.py:329: UserWarning: Trying to unpickle estimator Pipeline from version 1.0.2 when using version 0.23.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(

In [65]:
def Load_Model():
    model = joblib.load("LGBMClassifier.pkl")
    return model

In [66]:
def Run_Model(data_dict, model):
    df = pd.DataFrame([data_dict])
    model = model
    cols  = list(df.columns.values)
    pred = pd.Series(model.predict(df[cols])).values
    return pred

In [67]:
Run_Model(data_dict, model)

array([0], dtype=int64)

In [68]:
def Recherche():
    if request.method == "POST":

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_13428/3041354998.py, line 3)

In [70]:
{'SurfaceMin': 100, 'NombrePiecesEnum': 5, 'NombreChambresEnum': 2, 'TypeMission': 0, 'TypeBien': 1, 'TypeProjet': 1, 'BudgetMaxEuro': 500000, 'CodePostal': 34000}

{'SurfaceMin': 100,
 'NombrePiecesEnum': 5,
 'NombreChambresEnum': 2,
 'TypeMission': 0,
 'TypeBien': 1,
 'TypeProjet': 1,
 'BudgetMaxEuro': 500000,
 'CodePostal': 34000}

# test mod√®le

In [133]:
model = joblib.load("LGBMClassifier2.pkl")

In [134]:
dict_test = {
        "TypeMission" : 1,
        "TypeBien" : 1,
        "TypeProjet" : 1,
        "CodePostal" : 34000,
        "Budget": 500000,
        "NombrePiecesEnum" : 5,
        "NombreChambresEnum" : 2,
        "SurfaceMin":100  
}
print(dict_test)

{'TypeMission': 1, 'TypeBien': 1, 'TypeProjet': 1, 'CodePostal': 34000, 'Budget': 500000, 'NombrePiecesEnum': 5, 'NombreChambresEnum': 2, 'SurfaceMin': 100}

In [135]:
df = pd.DataFrame([dict_test])
df.head()

,TypeMission,TypeBien,TypeProjet,CodePostal,Budget,NombrePiecesEnum,NombreChambresEnum,SurfaceMin
0,1,1,1,34000,500000,5,2,100

In [136]:
df = df.reindex(columns=["SurfaceMin", "NombrePiecesEnum", "NombreChambresEnum", "TypeMission","TypeBien", "TypeProjet", "Budget", "CodePostal"])

In [137]:
df.head()

,SurfaceMin,NombrePiecesEnum,NombreChambresEnum,TypeMission,TypeBien,TypeProjet,Budget,CodePostal
0,100,5,2,1,1,1,500000,34000

In [138]:
pred_cols = list(df.columns.values)
print(pred_cols)

['SurfaceMin', 'NombrePiecesEnum', 'NombreChambresEnum', 'TypeMission', 'TypeBien', 'TypeProjet', 'Budget', 'CodePostal']

In [139]:
pred = pd.Series(model.predict(df[pred_cols]))
print(pred.values)

[0]

# test 2

In [180]:
data2 = {'SurfaceMin': 30, 'NombrePiecesEnum': 2, 'NombreChambresEnum': 1, 'TypeMission': 2,
         'TypeBien': 2, 'TypeProjet': 1, 'Budget': 100000, 'CodePostal': 1000}

In [155]:
df2 = pd.DataFrame([data2])
df2.head()

,SurfaceMin,NombrePiecesEnum,NombreChambresEnum,TypeMission,TypeBien,TypeProjet,Budget,CodePostal
0,30,2,1,2,2,1,100000,1000

In [156]:
cols = list(df2.columns.values)
print(cols)

['SurfaceMin', 'NombrePiecesEnum', 'NombreChambresEnum', 'TypeMission', 'TypeBien', 'TypeProjet', 'Budget', 'CodePostal']

In [157]:
pred = pd.Series(model.predict(df2[pred_cols]))
print(pred.values)

[0]

In [187]:
type(pred)

pandas.core.series.Series

In [188]:
test2 = pred.to_json(orient = "columns")

In [189]:
print(test2)

{"0":0}

In [184]:
test = pred.to_dict()

# Test 3

In [158]:
data3 = {'SurfaceMin': 0, 'NombrePiecesEnum': 5, 'NombreChambresEnum': 2, 'TypeMission': 0, 'TypeBien': 2, 'TypeProjet': 1, 'Budget': 280000, 'CodePostal': 34000}

In [162]:
df3 = pd.DataFrame([data3])
df3.head()

,SurfaceMin,NombrePiecesEnum,NombreChambresEnum,TypeMission,TypeBien,TypeProjet,Budget,CodePostal
0,0,5,2,0,2,1,280000,34000

In [163]:
pred_cols = list(df3.columns.values)
print(pred_cols)

['SurfaceMin', 'NombrePiecesEnum', 'NombreChambresEnum', 'TypeMission', 'TypeBien', 'TypeProjet', 'Budget', 'CodePostal']

In [164]:
pred = pd.Series(model.predict(df3[pred_cols]))
print(pred.values)

[1]

# Test 4

In [168]:
data4 = {
    "SurfaceMin":90,
    "NombrePiecesEnum" : 3,
    "NombreChambresEnum" : 2,
    "TypeMission" : 2,
    "TypeBien" : 1,
    "TypeProjet" : 1,
    "Budget" : 390000,
    "CodePostal" : 6530

}

In [169]:
df4 = pd.DataFrame([data4])
df4.head()

,SurfaceMin,NombrePiecesEnum,NombreChambresEnum,TypeMission,TypeBien,TypeProjet,Budget,CodePostal
0,90,3,2,2,1,1,390000,6530

In [170]:
pred_cols = list(df4.columns.values)
print(pred_cols)

['SurfaceMin', 'NombrePiecesEnum', 'NombreChambresEnum', 'TypeMission', 'TypeBien', 'TypeProjet', 'Budget', 'CodePostal']

In [172]:
pred = pd.Series(model.predict(df4[pred_cols]))
print(pred.values)

[0]

# Test 5

In [176]:
data5 = {
    "SurfaceMin":80,
    "NombrePiecesEnum" : 2,
    "NombreChambresEnum" : 2,
    "TypeMission" : 1,
    "TypeBien" : 1,
    "TypeProjet" : 1,
    "Budget" : 220000,
    "CodePostal" : 33310
}

In [177]:
df5 = pd.DataFrame([data5])
df5.head()

,SurfaceMin,NombrePiecesEnum,NombreChambresEnum,TypeMission,TypeBien,TypeProjet,Budget,CodePostal
0,80,2,2,1,1,1,220000,33310

In [192]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(df5)

In [194]:
df5[pred_cols]

,SurfaceMin,NombrePiecesEnum,NombreChambresEnum,TypeMission,TypeBien,TypeProjet,Budget,CodePostal
0,80,2,2,1,1,1,220000,33310

In [191]:
pred_cols = list(df5.columns.values)
print(pred_cols)

['SurfaceMin', 'NombrePiecesEnum', 'NombreChambresEnum', 'TypeMission', 'TypeBien', 'TypeProjet', 'Budget', 'CodePostal']

In [179]:
pred = pd.Series(model.predict(df5[pred_cols]))
print(pred.values)

[0]

In [195]:
model.predict(df5)

array([0], dtype=int64)

In [171]:
pred_cols = list(df3.columns.values)
print(pred_cols)

['SurfaceMin', 'NombrePiecesEnum', 'NombreChambresEnum', 'TypeMission', 'TypeBien', 'TypeProjet', 'Budget', 'CodePostal']

In [122]:
pred_cols = list(df3.columns.values)
print(pred_cols)

['SurfaceMin', 'NombrePiecesEnum', 'NombreChambresEnum', 'TypeMission', 'TypeBien', 'TypeProjet', 'BudgetMaxEuro', 'CodePostal']

In [ ]:
val = pd.Series(dict_test).values

In [ ]:
print(val)

In [ ]:
df2 = list(df.columns.values), pd.Series(dict_test).values

In [ ]:
print(df2)

In [ ]:
test = pd.DataFrame({'date' : dict_dates.keys() , 'date_value' : dict_dates.values() })

In [ ]:
import pandas as pd
df = pd.DataFrame()
df = df.append(dict_test, ignore_index=True)
df.head()

In [ ]:
df= pd.DataFrame([dict_test.keys(), dict_test.values()]).T
df.columns= ['keys', 'values']  
df.head()

In [ ]:
df = pd.DataFrame()
df['Date'] = dict_test.keys()
df['DateValue'] = dict_test.values()
df.head()