In [1]:
import pandas as pd
import numpy as np

gestion des valeurs aberrantes
gestion des valeurs manquantes
strategie de features selection

In [2]:
df = pd.read_csv("df.csv")

In [3]:
df.head()

,Unnamed: 0,Code,Nom,CodeInsee,Discriminator,DateMandatSignature,PrixAchatReel,TypeDeMission,TypeDeMandat,Lieu,...,NombrePiecesEnum,NombreChambresEnum,CommentaireTravauxAcceptes,AncienNeufBien,DescriptionBien_TypeBienEnum,DescriptionBien_Prix,Statut,CommentaireTravaux,DescriptionBien_DateOffreAcceptee,DureeMandat
0,0,26,Bourgogne,0,2,2020-08-28 00:00:00,0.0,2,0,Lyon,...,1,0,oui,2,2,162000,4,Ameublement + électricité,2020-12-04 00:00:00,98
1,1,82,Rhône-Alpes,0,2,2020-08-28 00:00:00,0.0,2,0,Lyon,...,1,0,oui,2,2,162000,4,Ameublement + électricité,2020-12-04 00:00:00,98
2,12,11,Île-de-France,0,2,2019-07-19 10:00:00,65000.0,2,0,Île-de-France,...,1,0,NaN,2,2,82000,5,Rafraîchissement à prévoir.,2019-10-22 10:00:00,95
3,13,95400,Villiers Le Bel,95680,0,2019-07-19 10:00:00,65000.0,2,0,Île-de-France,...,1,0,NaN,2,2,82000,5,Rafraîchissement à prévoir.,2019-10-22 10:00:00,95
4,17,11,Île-de-France,0,2,2021-01-06 00:00:00,85000.0,2,0,"Île de France, Nord, Normandie",...,2,1,Oui,2,2,93000,5,Rafraîchissement,2021-02-15 11:00:00,40

In [4]:
df=df.drop(columns="Unnamed: 0", axis = 1)

In [5]:
df.head(1)

,Code,Nom,CodeInsee,Discriminator,DateMandatSignature,PrixAchatReel,TypeDeMission,TypeDeMandat,Lieu,Quartier,...,NombrePiecesEnum,NombreChambresEnum,CommentaireTravauxAcceptes,AncienNeufBien,DescriptionBien_TypeBienEnum,DescriptionBien_Prix,Statut,CommentaireTravaux,DescriptionBien_DateOffreAcceptee,DureeMandat
0,26,Bourgogne,0,2,2020-08-28 00:00:00,0.0,2,0,Lyon,NaN,...,1,0,oui,2,2,162000,4,Ameublement + électricité,2020-12-04 00:00:00,98

https://www.youtube.com/watch?v=T4nZDuakYlU

In [7]:
#feature_selection.VarianceThreshold == variance, transformers
# tests de dependance pour regression == feature_selection.f_regression(X, y[,center])
# estimateur de coefs

VarianceThreshold : elimine les variables dont la variance est inferieure a un certain seul

In [8]:
# x, mes variables independantes
x = df[["Code","CodeInsee", "Discriminator", "PrixAchatReel","TypeDeMission","TypeBienEnum","TypeProjet","BudgetMinEuro", "BudgetMaxEuro", "SurfaceMin", "NombrePiecesEnum", "NombreChambresEnum", "AncienNeufBien", "DescriptionBien_TypeBienEnum", "DescriptionBien_Prix", "Statut"]]
x.shape

(3649, 16)

In [9]:
# y, ma varible dependante
y = df["DureeMandat"]
y.shape

(3649,)

test de dependance +
transformers

In [11]:
y.var(axis = 0)

4842.030079888477

In [10]:
x.var(axis = 0)

Code                            8.234237e+08
CodeInsee                       8.230080e+08
Discriminator                   6.561729e-02
PrixAchatReel                   1.492471e+11
TypeDeMission                   1.401384e-01
TypeBienEnum                    4.425241e+00
TypeProjet                      2.661633e-01
BudgetMinEuro                   3.970568e+09
BudgetMaxEuro                   3.429647e+13
SurfaceMin                      2.742505e+06
NombrePiecesEnum                2.343932e+00
NombreChambresEnum              1.941486e+00
AncienNeufBien                  1.765097e-01
DescriptionBien_TypeBienEnum    2.224690e+00
DescriptionBien_Prix            1.671201e+11
Statut                          2.432308e-02
dtype: float64

In [12]:
## plus la variance est élévé, plus la variable a d'informations a fournir au modèle

In [16]:
from sklearn.feature_selection import VarianceThreshold

selector = VarianceThreshold(threshold = 1.4)
selector.fit_transform(x)
selector.get_support()

array([ True,  True, False,  True, False,  True, False,  True,  True,
        True,  True,  True, False,  True,  True, False])

In [28]:
from sklearn.feature_selection import SelectKBest, chi2
chi2(x,y)

(array([1.78400299e+07, 1.78482729e+07, 9.52787355e+02, 5.50839044e+08,
        4.71228674e+01, 2.02987207e+03, 4.23138912e+02, 1.58767748e+08,
        3.53532457e+09, 7.86217348e+06, 7.92439515e+02, 1.03854305e+03,
        8.12336342e+01, 1.17797760e+03, 5.40692343e+08, 6.71586765e+00]),
 array([0.00000000e+000, 0.00000000e+000, 1.75274410e-101, 0.00000000e+000,
        1.00000000e+000, 2.21342694e-304, 1.26271115e-019, 0.00000000e+000,
        0.00000000e+000, 0.00000000e+000, 3.32758549e-074, 1.41374231e-116,
        1.00000000e+000, 1.07559070e-141, 0.00000000e+000, 1.00000000e+000]))

In [ ]:
# là on peut voir que la valeur la plus élevé est de 9.52 ... y depend beaucoup de la variable qui obtient ce score
# 2 tableau == score de probabilité

In [31]:
selector = SelectKBest(chi2, k=1)
selector.fit_transform(x,y)
selector.get_support()

array([False, False, False, False, False, False, False, False,  True,
       False, False, False, False, False, False, False])

SelectFromModel

SelectFromModel
entraine un estimateur puis sélectionne les variables les plus importantes pour cet estimateur / pas compatible avec k-nearest Neighboor

In [32]:
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import SGDClassifier

In [45]:
selector= SelectFromModel(SGDClassifier(random_state = 0),
                         threshold = 'mean')
selector.fit_transform(x,y)
selector.get_support()
selector.estimator_.coef_.shape

(192, 16)

In [43]:
x.shape

(3649, 16)

In [44]:
y.shape

(3649,)