In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("test_données_schemas.csv")

In [6]:
df.head()

,MandatId,TypeProjet,SurfaceMin,NombrePiecesEnum,NombreChambresEnum,StatutMandat,TypeMission,TypeBien,BudgetMaxEuro,CodePostal,Ville,Departement,dpt,Region
0,78,1,90,4,3,8,1,1,500000,34000,Montpellier,Hérault,34,Languedoc-Roussillon
1,228,0,20,2,1,8,1,2,100000,13007,Marseille 7Eme Arrondisse,Bouches-du-Rhône,13,Provence-Alpes-Côte d'Azur
2,321,0,70,3,2,8,1,1,110000,35600,Bains Sur Oust,Ille-et-Vilaine,35,Bretagne
3,405,0,20,2,1,8,1,5,100000,93140,Bondy,Seine-Saint-Denis,93,Île-de-France
4,455,1,25,1,0,8,1,5,130000,92250,La Garenne Colombes,Hauts-de-Seine,92,Île-de-France

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10455 entries, 0 to 10454
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   MandatId            10455 non-null  int64
 1   TypeProjet          10455 non-null  int64
 2   SurfaceMin          10455 non-null  int64
 3   NombrePiecesEnum    10455 non-null  int64
 4   NombreChambresEnum  10455 non-null  int64
 5   StatutMandat        10455 non-null  int64
 6   TypeMission         10455 non-null  int64
 7   TypeBien            10455 non-null  int64
 8   BudgetMaxEuro       10455 non-null  int64
 9   CodePostal          10455 non-null  int64
 10  Ville               10455 non-null  object
 11  Departement         10455 non-null  object
 12  dpt                 10455 non-null  int64
 13  Region              10455 non-null  object
dtypes: int64(11), object(3)
memory usage: 1.1+ MB

In [8]:
cp = 31000

In [10]:
x = df.loc[df["CodePostal"] == cp]

In [17]:
z = x["Ville"][:1]

In [24]:
print(z[0:])

17    Toulouse
Name: Ville, dtype: object

In [32]:
z = x["Ville"][:0]

In [36]:
z.values

array([], dtype=object)

In [26]:
z.head()

17    Toulouse
Name: Ville, dtype: object

In [31]:
z.values

array(['Toulouse'], dtype=object)

In [29]:
z.shape[1]

IndexError: tuple index out of range