In [3]:
#!pip install pycaret

In [30]:
#!pip install mlflow

In [2]:
import pandas as pd
import numpy as np
import scipy as sp
import statistics

import matplotlib.pyplot as plt
from matplotlib import pyplot
%matplotlib inline
from mpl_toolkits.mplot3d import Axes3D
from matplotlib import cm
import seaborn as sns

#import warnings
#warnings.filterwarnings('ignore')

# Modèle de ML
from sklearn import linear_model

# data pre-processing
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

# Outils score et evaluation de modèle
from sklearn.metrics import accuracy_score
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

from sklearn.metrics import r2_score

# Outils optmisation de modèle
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold

In [15]:
df = pd.read_csv('Result_final_3.csv', sep = ",")
df = df.drop("Unnamed: 0", axis = 1)
#df.info()

,MandatId,DateCreation,BienMandatId,Statut,DescriptionBien_DateOffreAcceptee,Origine_DateCollecte,CritereId,SurfaceMin,NombrePiecesEnum,NombreChambresEnum,...,StatutMandat,TypeMission,TypeBien,TypeProjet,BudgetMaxEuro,CodePostal,Ville,Departement,Region,Succes
0,9049,2015-03-30,24579,1,0001-01-01,0001-01-01,9051,30,2,1,...,9,2,2,0,250000,1000,Bourg En Bresse,Ain,Rhône-Alpes,0
1,9049,2015-03-30,24580,0,0001-01-01,0001-01-01,9051,30,2,1,...,9,2,2,0,250000,1000,Bourg En Bresse,Ain,Rhône-Alpes,0

In [17]:
df.shape

(1743257, 23)

In [18]:
df.head(2)

,MandatId,DateCreation,BienMandatId,Statut,DescriptionBien_DateOffreAcceptee,Origine_DateCollecte,CritereId,SurfaceMin,NombrePiecesEnum,NombreChambresEnum,...,StatutMandat,TypeMission,TypeBien,TypeProjet,BudgetMaxEuro,CodePostal,Ville,Departement,Region,Succes
0,9049,2015-03-30,24579,1,0001-01-01,0001-01-01,9051,30,2,1,...,9,2,2,0,250000,1000,Bourg En Bresse,Ain,Rhône-Alpes,0
1,9049,2015-03-30,24580,0,0001-01-01,0001-01-01,9051,30,2,1,...,9,2,2,0,250000,1000,Bourg En Bresse,Ain,Rhône-Alpes,0

In [10]:
df.drop(["MandatId", "BienMandatId","CritereId","Statut","StatutMandat","DateCreation", "DescriptionBien_DateOffreAcceptee","Origine_DateCollecte", "Departement_LocalisationId", "Region_LocalisationId", "LocalisationId"], axis = 1, inplace = True)

In [11]:
df.columns

Index(['SurfaceMin', 'NombrePiecesEnum', 'NombreChambresEnum', 'TypeMission',
       'TypeBien', 'TypeProjet', 'BudgetMaxEuro', 'CodePostal', 'Ville',
       'Departement', 'Region', 'Succes'],
      dtype='object')

In [12]:
X =df.drop(["Succes", "Ville", "Departement", "Region"], axis = 1)

In [13]:
y=df["Succes"]

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [19]:
X_train.columns

Index(['SurfaceMin', 'NombrePiecesEnum', 'NombreChambresEnum', 'TypeMission',
       'TypeBien', 'TypeProjet', 'BudgetMaxEuro', 'CodePostal'],
      dtype='object')

In [20]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [23]:
import lightgbm as lgb
clf = lgb.LGBMClassifier()
model = clf.fit(X_train, y_train)

In [24]:
y_pred = model.predict(X_test)

In [25]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred, target_names = ['échec(Class 0)','succès (Class 1)']))

                  precision    recall  f1-score   support

  échec(Class 0)       0.80      0.95      0.87    272997
succès (Class 1)       0.88      0.61      0.72    162818

        accuracy                           0.82    435815
       macro avg       0.84      0.78      0.80    435815
    weighted avg       0.83      0.82      0.81    435815

In [29]:
import joblib
from joblib import dump,load
model="modelLGB.pkl"
joblib.dump(model,model)

['modelLGB.pkl']