In [1]:
import pyodbc
import pandas as pd
import numpy as np

In [2]:
import os
import sys
print(sys.version_info)
print(os.path.dirname(sys.executable))

sys.version_info(major=3, minor=8, micro=8, releaselevel='final', serial=0)
C:\anaconda3

In [3]:
# création d'une fonction de gestionnaire de type de donnée pour convertir les types voulu en type supporter par ODBC

In [4]:
server = 'sql-mcibusxrm-dev.database.windows.net'
database = 'sqldb-mcibusxrm-dev'
username = 'sql-mcibusxrm-dev'
password = '{pzR28UcutX26GdAJLWm9SXw}'
driver= '{ODBC Driver 17 for SQL Server}'

conn = pyodbc.connect('DRIVER='+driver+';SERVER=tcp:'+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = conn.cursor()
#cursor.execute("SELECT TOP 100000 Lieu FROM dbo.Criteres")

import pandas as pd

df = pd.read_sql("SELECT TOP 5 Lieu, Quartier, TypeBienEnum, TypeProjet, BudgetMinEuro, BudgetMaxEuro FROM dbo.Criteres, dbo.Mandat WHERE Lieu IS NOT NULL", conn)
df.head()

# dbo.Criteres

In [5]:
import pandas as pd

In [6]:
df0 = pd.read_sql("SELECT * FROM dbo.Criteres ", conn)
df0.head()

,CritereId,Lieu,Quartier,TypeBienEnum,TypeProjet,BudgetMinEuro,BudgetMaxEuro,SurfaceMin,SurfaceMax,NombrePiecesEnum,...,AutreCritere3,AutreCritere4,AutreCritere5,CommentaireTravauxAcceptes,CommentaireSituation,CommentaireStyle,CommentaireNetAcheteur,EcheanceProjetEnum,AncienNeufBien,HorairesVisite
0,1,Paris,None,2,Résidence principale,350000,450000,0,0,0,...,None,None,None,None,None,None,None,0,0,None
1,2,Nimes ou Montpellier,ville idéalement,1,Résidence principale,0,280000,0,0,5,...,ext,,,oui,,ancien,,0,2,None
2,3,34000,,2,Résidence principale,0,300000,70,0,3,...,,,,oui,,,financement a verifier,0,0,None
3,4,Clapiers,,4,,0,300000,0,0,0,...,,,,,,,,0,0,None
4,5,Montpellier EST,"Richter, Antigone, Pompignane, Port Marianne, ...",2,Investissement,0,250000,60,0,3,...,Immeuble de 1995 à nos jour ou avant 1970 (mai...,Minimum 15% de travaux pour réaliser déficit f...,,oui,,,,0,2,None

In [ ]:
df0["AncienNeufBien"].value_counts()

In [ ]:
df0["TypeBienEnum"].value_counts()

In [ ]:
df0["TypeProjet"].value_counts()

In [ ]:
df0["TypeProjet"].isnull().sum()

In [ ]:
df0["TypeProjet"]

In [ ]:
df0.columns

In [ ]:
df0.info()

In [ ]:
df0.isnull().sum()

In [ ]:
df = pd.read_sql('''SELECT CritereId, Lieu, 
Quartier,TypeBienEnum, TypeProjet, 
BudgetMaxEuro, SurfaceMin, SurfaceMax, NombrePiecesEnum, NombreChambresEnum,
AutreCritere1, CommentaireTravauxAcceptes
FROM dbo.Criteres''', conn)

In [ ]:
df.columns

In [ ]:
df.head()

In [ ]:
df["TypeBienEnum"].value_counts()

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

    TypeAgeBienEnum ==> Inconnu, Neuf, Ancien, Neuf ou Ancien

# dbo.Mandat

In [ ]:
df_Mandat = pd.read_sql('''SELECT * FROM dbo.Mandat''', conn)

In [ ]:
df_Mandat.head()

In [ ]:
df_Mandat.info()

In [ ]:
df_Mandat['TypeDeMission'].value_counts()

In [ ]:
df_Mandat["PourcentageCommission"].value_counts()

In [ ]:
df_Mandat["TypeDeMandat"].value_counts()

In [ ]:
df_Mandat["StatutProspectMandatClientId"].value_counts()

In [ ]:
df_Mandat["PrixAchatReel"].value_counts()

In [ ]:
df2 = pd.read_sql('''SELECT CritereId, MandatId, ClientId, DateMandatPerte, 
DateMandatSignature, DateMandantEcheance, DateCompromisSignature,
DateAchatCible, DateCompromisCible
FROM dbo.Mandat''', conn)

In [ ]:
df2.info()

In [ ]:
df2.columns

In [ ]:
df2.head(50)

In [ ]:
df2.isnull().sum()

# dbo.CriteresMoteurLocalisation

In [5]:
df_CriteresMoteurLocalisation = pd.read_sql('''SELECT * FROM dbo.CriteresMoteurLocalisation''', conn)
df_CriteresMoteurLocalisation.head()

   CriteresMoteur_CriteresMoteurId  Localisation_LocalisationId
0                               14                        34057
1                              125                         9927
2                              125                         9955
3                              125                        10045
4                              125                        10262

In [6]:
df_CriteresMoteurLocalisation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91073 entries, 0 to 91072
Data columns (total 2 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   CriteresMoteur_CriteresMoteurId  91073 non-null  int64
 1   Localisation_LocalisationId      91073 non-null  int64
dtypes: int64(2)
memory usage: 1.4 MB

# dbo.Localisation

In [7]:
df_Localisation = pd.read_sql(
'''
SELECT * FROM dbo.Localisation
''', conn
)

In [8]:
df_Localisation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39616 entries, 0 to 39615
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   LocalisationId              39616 non-null  int64
 1   Code                        39616 non-null  object
 2   Nom                         39616 non-null  object
 3   CodeInsee                   39488 non-null  object
 4   Discriminator               39616 non-null  object
 5   Region_LocalisationId       101 non-null    float64
 6   Departement_LocalisationId  39488 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 2.1+ MB

In [14]:
df_Localisation.head(-10)

,LocalisationId,Code,Nom,CodeInsee,Discriminator,Region_LocalisationId,Departement_LocalisationId
0,1,42,Alsace,None,Region,NaN,NaN
1,2,72,Aquitaine,None,Region,NaN,NaN
2,3,83,Auvergne,None,Region,NaN,NaN
3,4,25,Basse-Normandie,None,Region,NaN,NaN
4,5,26,Bourgogne,None,Region,NaN,NaN
...,...,...,...,...,...,...,...
39601,40087,20221,Sant'Andréa-di-Cotone,2B293,Ville,NaN,61.0
39602,40088,20220,Sant'Antonino,2B296,Ville,NaN,61.0
39603,40100,20221,Santa-Maria-Poggio,2B311,Ville,NaN,61.0
39604,40101,20230,San-Nicolao,2B313,Ville,NaN,61.0
39605,40102,20246,Santo-Pietro-di-Tenda,2B314,Ville,NaN,61.0

In [10]:
df_Localisation["Departement_LocalisationId"].value_counts()

102.0    921
108.0    831
110.0    823
89.0     794
39.0     778
        ...
65.0     103
76.0      54
74.0      42
75.0      42
70.0      24
Name: Departement_LocalisationId, Length: 96, dtype: int64

# dbo.LocalisationCritere

In [ ]:
df_LocalisationCritere =pd.read_sql('''SELECT * FROM dbo.LocalisationCritere''', conn)

In [ ]:
df_LocalisationCritere.head()

In [ ]:
df_LocalisationCritere.info()

In [ ]:
df_test = pd.merge(df_LocalisationCritere,df_Localisation, on='LocalisationId')
df_test.head()

In [ ]:
df_test.info()

# dbo.CriteresMoteur

In [ ]:
df_crit_moteur = pd.read_sql(
'''SELECT * FROM dbo.CriteresMoteur''', conn)
df_crit_moteur.head()

In [ ]:
df_crit_moteur.info()

In [ ]:
df_merged = pd.merge(df,df2, on='CritereId')
df_merged.head()

In [ ]:
df_merged.columns

In [ ]:
df_merged.info()

In [ ]:
df_merged["Lieu"].value_counts()

In [ ]:
df_merged["Lieu"].unique()

In [ ]:
df_merged["DateMandatSignature"].value_counts()

In [ ]:
df_merged

In [ ]:
df_merged["DateCompromisSignature"].value_counts()

In [ ]:
df_merged.isnull().sum()

In [ ]:
new_data = df_merged.dropna()
new_data.head()

In [ ]:
new_data.info()

In [ ]:
df.head(1)

In [ ]:
df0.head(1)

In [ ]:
df2.head(1)

In [ ]:
df_crit_moteur.head(1)

In [ ]:
df_CriteresMoteurLocalisation.head(1)

In [ ]:
df_Localisation.head(1)

In [ ]:
df_LocalisationCritere.head(1)

In [ ]:
df_test.head(1)

In [ ]:
df_merged.head(1)

In [ ]:
df_merge2 = pd.merge(df_merged, df_test, on = "CritereId")
df_merge2.head()

Gestion des valeurs nulles

In [ ]:
df_merge2.info()

DateMandatPerte               96275 - 13584 = 82691 
* DateMandatSignature           96275 - 66084 = 30191 
DateMandantEcheance           96275 - 66430 = 29845 
DateCompromisSignature        96275 - 88364 = 7911 
DateAchatCible                96275 - 70715 = 25560 
DateCompromisCible            96275 - 70885 = 25390 


ni echance ni perte

filtrer mandat abouti: il faut selectionner les mandats qui n'ont pas de DateMandatPerte

durée de recherche aboutis

* date offre accepté sur le bien


compromis ou actée statut bien mandat enum

In [ ]:
df_merge2.isnull().sum()

In [ ]:
df_merge2["DateMandatSignature"]

In [ ]:
df_merge2.head()

In [ ]:
df_merge2["DateMandatSignature"].min()

In [ ]:
df_merge2["DateMandatSignature"].max()

In [ ]:
x = df_merge2["DateMandatSignature"].max() - df_merge2["DateMandatSignature"].min()

In [ ]:
x

In [ ]:
#df_merge2.corr()

NaT ==> valeur datetime manquante

In [ ]:
df_essai = df_merge2["DateMandatSignature"] - df_merge2["DateCompromisSignature"]
df_essai.value_counts()
# calcul de la durée du mandat
# entre la signature du mandat et la date de la signature du compromis

# je peux créer une nouvelle colonne en faisant df["new_value"] = df kflkfj - df fjkklf


# verification de la credibilité des données calculées.

In [ ]:
import pandas as pd

# dbo.BienMandat

In [ ]:
df_BienManndat_All = pd.read_sql('''SELECT * FROM dbo.BienMandat''', conn)

In [ ]:
df_BienMandat_All.head()

In [ ]:
df_Bien_Mandat = pd.read_sql('''SELECT BienMandatId, MandatId, DescriptionBien_TypeBienEnum, Statut, DescriptionBien_DateOffreAcceptee FROM dbo.BienMandat''', conn)

In [ ]:
df_Bien_Mandat.head()

In [ ]:
df_Bien_Mandat["DescriptionBien_TypeBienEnum"].value_counts()

df_merge3 = pd.merge(df_merge2, df_Bien_Mandat, on= "")
df_merge2 = pd.merge(df_merged, df_test, on = "CritereId")

selectionnez = 0
maison = 1
appartement = 2
terrain = 3
autre = 4
studio = 5
loacal = 6
maison ou appartement = 7
immeuble = 8

In [ ]:

df_Bien_Mandat["Statut"].value_counts()

    Comment savoir a quoi correspond les valeurs de 0 à 7?
    Stock, Nouveau, Selection, A visiter, Visité, Compromis, Acté, Rejeté
    Ce qui m'interesse c'est : Compromis et Acté
    
    stock = 0
    nouveau =1
    selection = 2
    a visiter = 3
    visité = 4
    compromis = 5
    acté = 6
    rejeté = 7

In [ ]:
df_Bien_Mandat.info()

In [ ]:
df_Bien_Mandat["DescriptionBien_DateOffreAcceptee"].value_counts()

In [ ]:
df_Bien_Mandat.info()

In [ ]:
df_Bien_Mandat["MandatId"].value_counts()

In [ ]:
df_BienMandat_Fichier["BienMandatFichierId"].value_counts()

In [ ]:
df_Bien_Fichier["DescriptionBien_DateOffreAcceptee"].max()

In [ ]:
df_Bien_Mandat["MandatId"].min()

In [ ]:
df_BienMandat_Fichier = pd.read_sql('''
SELECT * FROM dbo.BienMandatFichier
''', conn)

In [ ]:
df_BienMandat_Fichier.head()

# Visualisation des données

les lieux/villes et les temps de recherche

import plotly.express as px
fig = px.bar(x=["BudgetMinEuro"], y=["BudgetMaxEuro"])
fig.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(12,8))
sns.histplot(df_merged["Lieu"].fillna("AUTRES"))
plt.title("Fréquence des codes pays")
plt.show()

Traitement des données

verification des bonnes features

gestion de la localisation
gestion et traitement des dates des dates
creation d'un df ville/population a mettre en cohesion avec les villes
gestion des valeurs manquantes !!!